<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>BTN_BACK.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,35}</string>
                <key>spriteSourceSize</key>
                <string>{110,35}</string>
                <key>textureRect</key>
                <string>{{1,1},{110,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>PAUSE PRESET.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{146,183}</string>
                <key>spriteSourceSize</key>
                <string>{146,183}</string>
                <key>textureRect</key>
                <string>{{1,75},{146,183}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>button-help.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,35}</string>
                <key>spriteSourceSize</key>
                <string>{110,35}</string>
                <key>textureRect</key>
                <string>{{113,1},{110,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button-off.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,35}</string>
                <key>spriteSourceSize</key>
                <string>{110,35}</string>
                <key>textureRect</key>
                <string>{{1,38},{110,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button-on.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,35}</string>
                <key>spriteSourceSize</key>
                <string>{110,35}</string>
                <key>textureRect</key>
                <string>{{113,38},{110,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>pauseMenu.png</string>
            <key>size</key>
            <string>{224,222}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5dbc6911087863e4c3048dc976976639:124638c1dd3ae66e611b628fae163993:12a7fdd883edf97f7fca4c9c692d7323$</string>
            <key>textureFileName</key>
            <string>pauseMenu.png</string>
        </dict>
    </dict>
</plist>
