<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>gate-f1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,223}</string>
                <key>spriteSourceSize</key>
                <string>{100,223}</string>
                <key>textureRect</key>
                <string>{{0,0},{100,223}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gate-f10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,223}</string>
                <key>spriteSourceSize</key>
                <string>{100,223}</string>
                <key>textureRect</key>
                <string>{{400,223},{100,223}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gate-f11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,223}</string>
                <key>spriteSourceSize</key>
                <string>{100,223}</string>
                <key>textureRect</key>
                <string>{{0,446},{100,223}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gate-f12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,223}</string>
                <key>spriteSourceSize</key>
                <string>{100,223}</string>
                <key>textureRect</key>
                <string>{{100,446},{100,223}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gate-f13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,223}</string>
                <key>spriteSourceSize</key>
                <string>{100,223}</string>
                <key>textureRect</key>
                <string>{{200,446},{100,223}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gate-f14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,223}</string>
                <key>spriteSourceSize</key>
                <string>{100,223}</string>
                <key>textureRect</key>
                <string>{{300,446},{100,223}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gate-f15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,223}</string>
                <key>spriteSourceSize</key>
                <string>{100,223}</string>
                <key>textureRect</key>
                <string>{{400,446},{100,223}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gate-f17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,223}</string>
                <key>spriteSourceSize</key>
                <string>{100,223}</string>
                <key>textureRect</key>
                <string>{{0,669},{100,223}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gate-f18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,223}</string>
                <key>spriteSourceSize</key>
                <string>{100,223}</string>
                <key>textureRect</key>
                <string>{{100,669},{100,223}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gate-f19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,223}</string>
                <key>spriteSourceSize</key>
                <string>{100,223}</string>
                <key>textureRect</key>
                <string>{{200,669},{100,223}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gate-f2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,223}</string>
                <key>spriteSourceSize</key>
                <string>{100,223}</string>
                <key>textureRect</key>
                <string>{{100,0},{100,223}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gate-f20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,223}</string>
                <key>spriteSourceSize</key>
                <string>{100,223}</string>
                <key>textureRect</key>
                <string>{{300,669},{100,223}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gate-f21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,223}</string>
                <key>spriteSourceSize</key>
                <string>{100,223}</string>
                <key>textureRect</key>
                <string>{{400,669},{100,223}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gate-f22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,223}</string>
                <key>spriteSourceSize</key>
                <string>{100,223}</string>
                <key>textureRect</key>
                <string>{{0,892},{100,223}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gate-f23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,223}</string>
                <key>spriteSourceSize</key>
                <string>{100,223}</string>
                <key>textureRect</key>
                <string>{{100,892},{100,223}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gate-f24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,223}</string>
                <key>spriteSourceSize</key>
                <string>{100,223}</string>
                <key>textureRect</key>
                <string>{{200,892},{100,223}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gate-f25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,223}</string>
                <key>spriteSourceSize</key>
                <string>{100,223}</string>
                <key>textureRect</key>
                <string>{{300,892},{100,223}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gate-f26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,223}</string>
                <key>spriteSourceSize</key>
                <string>{100,223}</string>
                <key>textureRect</key>
                <string>{{400,892},{100,223}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gate-f3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,223}</string>
                <key>spriteSourceSize</key>
                <string>{100,223}</string>
                <key>textureRect</key>
                <string>{{200,0},{100,223}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gate-f4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,223}</string>
                <key>spriteSourceSize</key>
                <string>{100,223}</string>
                <key>textureRect</key>
                <string>{{300,0},{100,223}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gate-f5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,223}</string>
                <key>spriteSourceSize</key>
                <string>{100,223}</string>
                <key>textureRect</key>
                <string>{{400,0},{100,223}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gate-f6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,223}</string>
                <key>spriteSourceSize</key>
                <string>{100,223}</string>
                <key>textureRect</key>
                <string>{{0,223},{100,223}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gate-f7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,223}</string>
                <key>spriteSourceSize</key>
                <string>{100,223}</string>
                <key>textureRect</key>
                <string>{{100,223},{100,223}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gate-f8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,223}</string>
                <key>spriteSourceSize</key>
                <string>{100,223}</string>
                <key>textureRect</key>
                <string>{{200,223},{100,223}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gate-f9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,223}</string>
                <key>spriteSourceSize</key>
                <string>{100,223}</string>
                <key>textureRect</key>
                <string>{{300,223},{100,223}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>gate.png</string>
            <key>size</key>
            <string>{500,1115}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:78887f2ccb4574babd62530bfeeecb51:311290fc040b1acce46a42ce622dd984:ba5f6e5480e6cc2c1a0be6c6a623cd17$</string>
            <key>textureFileName</key>
            <string>gate.png</string>
        </dict>
    </dict>
</plist>
